<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <style>
	a1.uploader
	{
	display: block;
	margin: 20px auto 0;
	width: 150px;
	}

	/*文字*/
body
{
	background-color:#FFFFFF;
	text-align:center;
}
h1
{
	color:black;
	font-family:"Times New Roman";
	text-align:center;
}
h5
{
	color:gray;
	font-family:"Times New Roman"
	text-align:center;
}
p5
{
	font-family:"Times New Roman";
	font-size:18px;
	border-style:inset;
	border-width:20px;
	width:140px;
	border-color:#4CAF50;
}
	p1
	{
		font-family:"Times New Roman";
	font-size:15px;
	}
	p2
	{
		font-family:"Times New Roman";
	font-size:1px;
	text-color=#FFFFFF;
	}
p3
{
	font-family:"Times New Roman";
	font-size:16px;
	width:300px;
	border-color:#4DDDDD;
}		
p4
{
	font-family:"Times New Roman";
	font-size:15px;
	border-style:inset;
	border-width:50px;
	width:300px;
	border-color:#FFF000;
}		



	
</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>水鸟识别</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
   
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"> -->
    
    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="{{ url_for('root', filename='js/vendor/html5shiv.min.js') }}"></script>
      <script src="{{ url_for('root', filename='js/vendor/respond.min.js') }}"></script>
    <![endif]-->
  </head>
  
  
  <body>
 

 <!-- START: header -->
  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container" >

        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
  <ul>
  <li><a href="index.html">主页</a></li>
  <li><a class="active" href="root">水鸟识别</a></li>
  <li><a href="about.html">关于我们</a></li>
          <div class="extra-text visible-xs"> 
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
            <h5>Address</h5>
            <p>no35 QinghuaEast Road</p>
            <h5>Connect</h5>
            <ul class="social-buttons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </ul>
        </nav>
    </div>
  </header>
  <!-- END: header -->


  <div class="probootstrap-main" >
    <section class="probootstrap-section" >

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate" style="height:60px;margin:45px">
            <div class="icon" style="width:30px;height:20px;margin:60px 0 0 10px">
              <i class="icon-laptop3"></i>
            </div>
            <div class="text">
              <h3 class="heading">第一步</h3>
              <p>选择视频</p>

            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate" style="height:60px;margin:45px">
            <div class="icon" style="width:30px;height:20px;margin:60px 0 0 10px">
              <i class="icon-presentation"></i>
            </div>
            <div class="text">
              <h3 class="heading">第二步</h3>
              <p>点击上传</p>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service left-icon probootstrap-animate" style="height:60px;margin:45px">
            <div class="icon" style="width:30px;height:20px;margin:60px 0 0 10px">
              <i class="icon-wallet2"></i>
            </div>
            <div class="text">
              <h3 class="heading">第三步</h3>
              <p>显示结果</p>

            </div>
          </div>
        </div>

      </div>

   <br> <br> 
       <form action="root" method=post enctype=multipart/form-data id=upload-form>
   <br>
      <div class="row">
        <div class="col-md-1">.</div>
        <div class="col-md-7" >
          <input id="file-picker1" type="file" name="file" accept="video/*" multiple>
        </div>
        <div class="col-md-7" > 
          <p3>水印文字</p3>
          <input id="shuiyin" type="string" name="string" accept="string/*" multiple>
        </div>
        <div class="col-md-4">
            <input type=submit value='添加水印' >
            <br> <br> <br> <br>
            <h3></h3>
        </div>
</form>

   <br> <br> <br>  
       <form action="root" method=post enctype=multipart/form-data id=back-form>
    <br>
    <div class="row">
 
        <div class="col-md-1"></div>   
        <div class="col-md-7">
          <input id="file-picker2" type="file" name="file" accept="video/*" multiple>
           <p3>水印文字</p3>
          <input id="shuiyin2" type="string" name="string" accept="string/*" multiple>
        </div>

        <div class="col-md-4">
            <input type=submit value='提取水印' >
            <h3>.</h3>
        </div>
      </div> 

</form>
    </section>
    <!-- END section -->


  </div>
  <footer class="probootstrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <p>水鸟识别系统</p>
        </div>
      </div>
    </div>
  </footer>



  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  
  <script type="text/javascript" src="js/scripts.min.js"></script>
  <script type="text/javascript" src="js/main.min.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  </body>
</html>