<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加水印</title>
</head>
<!--action参数就是空的不用改-->
<form action="" method=post enctype=multipart/form-data id=upload-form>
<!--id可以更改，其余不可以改-->
<input id="" type="file" name="file" accept="video/*" multiple>
<p3>水印文字</p3>
<!--id可以更改，其余不可以改-->
<input id="" type="string" name="string" accept="string/*" multiple>
<input type=submit value='添加水印' >
<body>
</body>
</html>
